#tree{

}
#tree > .content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}
#tree .column {
    flex-basis: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#tree .column .couple{
    flex-basis: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#tree .column .couple .individual{
    flex-basis: 100%;
    display: flex;
}
#tree .individual {

}

/* BIG DESIGN */

#tree .individual.big{
    flex-direction: column;
    align-items: center;
}
#tree .individual.big .virtual-top{
    flex-basis: 100%;
}
#tree .individual.big .img{
    flex: 0 0 auto;
}
#tree .individual.big .content{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tree .individual.big .content .top{

}
#tree .individual.big .content .bottom{

}

/* SMALL DESIGN */

#tree .individual.small{

}
#tree .individual.small .content .top{
    flex-basis: 100%;
}
#tree .individual.small .content .bottom{
    flex-basis: 100%;
}


#tree .column .couple .individual p{
    margin: auto;
}
