main{
	height: calc(100vh - 42px - 26.8px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/******************************/
/****** HEADER / TOOLBAR ******/
/******************************/

header .project-actions{
	flex-wrap: wrap;
}
header .project-actions input{
	height: 30px;
	margin: 5.5px 10px;
	padding: 0 5px;
	background-color: #e6e6e6;
	border: none;
	border-radius: 3px;
	display: inline-block;
	animation: from-left-linear .5s;
}
header .project-actions i{
	line-height: 41px;
	padding: 0 10px;
	color: black;
	font-size: 18px;
	transition: all .3s ease-in-out;
	display: inline-block;
	cursor: pointer;
}
header .project-actions i:hover{
	color: #ff4545;
}

/*****************************/
/****** GLOBAL TIMELINE ******/
/*****************************/

main .timeline{
	overflow: auto;
	display: block;
	background-color: white;
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}
/* FULL SCREEN MODE */
main .timeline.fullscreen{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
	padding-top: 42px;
	animation: alpha .5s;
}
main .timeline .fullscreen-bar{
	height: 42px;
	width: 100vw; top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	z-index: 99999;
	justify-content: space-between;
}
main .timeline .fullscreen-bar > div{
	margin: 0 20px;
}
main .timeline .fullscreen-bar i{
	line-height: 42px;
	padding: 0 10px;
	color: white;
	font-size: 18px;
	transition: all .3s ease-in-out;
}
main .timeline .fullscreen-bar i:hover{
	color: #ff4545;
}
main .timeline .fullscreen-bar h3{
	line-height: 42px;
	margin: 0 10px;
	color: white;
	display: inline-block;
}
/* GLOBAL TIMELINE */
main .timelinecontent{
	display: block;
	margin: 0;
	padding: 20px;
}
main .timelinecontent div{
	display: flex;
	flex-direction: row-reverse;
	align-items: stretch;
}
main .timeline .year{
	margin: 0;
	width: 10vw;
}

/******************/
/****** TIME ******/
/******************/

main .timeline .time .year{
	display: block;
}
main .timeline .time .year .title{
	margin: 0 0 0 10px;
	float: left;
	font-size: 18px;
}

/********************/
/****** EVENTS ******/
/********************/

main .timeline .events{
	overflow: hidden;
	padding-left: 10px;
	margin-left: -10px;
}
main .timeline .events .year{
	flex-direction: column-reverse;
	justify-content: flex-start;
	overflow: visible;
}
main .timeline .events .year .event{
	display: block;
	box-sizing: border-box;
}
main .timeline .events .year .space{
	
}
main .timeline .events .year .event *{
	word-wrap: break-word;
	margin: 0;
}
main .timeline .events .year .event .title{
	font-family: 'Lato'
}
main .timeline .events .year .event .date{
	font-family: 'lato'
}
main .timeline .events .year .event .description{
	font-family: 'Source Sans Pro'
}
main .timeline .events .year .event .linker{
	position: relative;
	height: 1000vh;
	overflow: hidden;
	display: block;
	z-index: 100;
}

/*********************/
/****** PERIODS ******/
/*********************/

main .timeline .periods *{
	flex-direction: column;
	background-color: #ecf0f1;
}
main .timeline .periods .year .period{
	background-color: #e74c3c;
	margin: 10px 0 0 0;
	border: 1px solid black;
}
main .timeline .periods .year .space{
	
}
main .timeline .periods .year .period *{
	word-wrap: break-word;
	margin: 0;
}

/*******************/
/****** PANEL ******/
/*******************/

main .panel{
	
}

/********************/
/****** FILTER ******/
/********************/

.filter .export{
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	min-width: 70vw;
	padding: 30px;
	top: 50%;
	left: 50%;
  transform: translateY(-50%) translateX(-50%);
  animation: alpha .5s;
  border-radius: 5px;
}
.filter .export #closepreview{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #d0d0d0;
	margin: 0 3px;
	padding: 0;
	line-height: 0;
	font-size: 25px;
	transition: all .3s ease-in-out;
}
.filter .export #closepreview:hover{
	cursor: pointer;
	color: white;
}
.filter .export #rendercanvas{
	max-width: 100%;
}
.filter .export #rendercanvas canvas{
	max-width: 100%;
	max-height: calc(100vh - 40px - 100px);
	margin: auto;
	display: block;
}
.filter .export #downloadpreview, .filter .export #showpreview{
	cursor: pointer;
	text-align: center;
	margin: 0 10px;
	padding: 3px 5px;
	border-radius: 5px;
	background-color: #d0d0d0;
	border: 2px solid #d0d0d0;
	color: black;
	font-weight: 400;
	box-sizing: content-box;
	transition: all .3s ease-in-out;
	font-size: 16px;
}
.filter .export #downloadpreview:hover, .filter .export #showpreview:hover{
	border-color: white;
}

/*******************/
/****** PANEL ******/
/*******************/

main .panel{
	border-top: 1px solid gray;
	display: flex;
	background-color: white;
	max-height: 40%;
	justify-content: stretch;
}

/* NAV */
main .panel .nav{
	min-width: 40px;
	width: 40px;
	overflow-y: auto;
}
main .panel .nav p{
	box-sizing: border-box;
	display: block;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	float: left;
	margin: 0;
	padding: 10px 0;
	line-height: 39px;
	font-size: 16px;
	font-weight: 600;
	transition: all .3s ease-in-out;
	cursor: pointer;
	border-right: 1px solid gray;
}
main .panel .nav p.selected{
	background-color: #e5e5e5;
}
main .panel .nav p:hover{
	background-color: #b4b4b4;
}

/* PANE */
main .panel .pane{
	height: 100%;
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	position: relative;
}
main .panel .pane h3{
  margin-bottom: 8px;
}
main .panel .pane > div{
	display: inline-block;
	vertical-align: top;
	height: 100%;
	margin-right: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}
main .panel .pane .content{
	box-sizing: border-box;
	background-color: #e5e5e5;
	border-radius: 1px;
	padding: 10px;
	padding-right: 20px;
	min-height: 100%;
}
main .panel .pane table td{
	padding: 0;
}
main .panel .pane table td ~ td{
	float: left;
	margin-left: 10px;
}
main .panel .pane input{
	height: 25px;
	border: none;
	border-radius: 3px;
	background-color: white;
}
main .panel .pane textarea{
	border: none;
	border-radius: 3px;
	background-color: white;
	padding: 3px;
	width: 386px;
	height: 100%;
	resize: none;
}
main .panel .pane i{
	color: #3b3b3b;
	font-size: 20px;
	cursor: pointer;
	transition: all .3s ease-in-out;
}
main .panel .pane i:hover{
	color: #ff4545;
}
main .panel .pane table td ~ td input{
	width: 210px;
	vertical-align: middle;
	margin: 2px;
	padding: 0 3px;
}
main .panel .pane table td ~ td.double input{
	width: 145px;
}
main .panel .pane table td ~ td.double input ~ input{
	margin-left: 5px;
	width: 58px;
}
main .panel .pane table hr {
    margin: 4px 0;
}
main .panel .pane button {
	height: 25px;
	border: none;
	border-radius: 3px;
	background-color: white;
	margin: 0 auto;
	font-size: 15px;
	margin-right: 5px;
	margin-bottom: 5px;
	transition: all .3s ease-in-out;
}
main .panel .pane button:hover {
  background-color: #ff8181;
}
main .panel .pane .date-summary {
  font-weight: 300;
  line-height: 29px;
}
/* Filter */
main .panel .pane .pane-filter{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
main .panel .pane .pane-filter h3{
	position: absolute;
	left: 50%; top: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 5px;
	padding: 10px;
	background-color: rgba(0,0,0,0.6);
	color: white;
	text-align: center;
}
main .panel .pane .action-buttons td{
	width: 0px;
}
main .panel .pane .action-buttons td ~ td{
	text-align: center;
	width: 210px;
}
main .panel .pane .action-buttons i{
	font-size: 22px;
	padding: 10px;
}
main .panel .pane .pane-filter i{
	color: white;
	padding-top: 10px;
	font-size: 20px;
}
main .panel .pane .pane-filter i:hover{
	color: #ff4545;
}

/************************/
/***** CONTEXT MENU *****/
/************************/

#app > .overlay{
	z-index: 90000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
}
#app > .overlay > .contextmenu{
	position: absolute;
	top: 42px;
	max-height: calc(100vh - 100px);
	overflow-y: scroll;
	padding: 10px 0;
	z-index: 90001;
	background-color: #e4e4e4;
	border-radius: 5px;
	margin-right: 20px;
}
#app > .overlay > .contextmenu p{
	padding: 6px 20px;
	margin: 0;
	transition: all .3s ease-in-out;
	cursor: pointer;
	font-size: 15px;
	font-weight: 400;
}
#app > .overlay > .contextmenu p:hover{
	background-color: #bfbebe;
}
#app > .overlay > .contextmenu p i{
	transition: all .3s ease-in-out;
	margin-right: 10px;
}
#app > .overlay > .contextmenu p i:hover{
	color: #ff4545;
}
#app > .overlay > .contextmenu h4{
	padding: 6px 20px;
	margin: 0;
	font-size: 15px;
	font-weight: 400;
}
