main{
	height: calc(100vh - 61px - 39.2px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*****************************/
/****** GLOBAL TIMELINE ******/
/*****************************/

main .timeline{
	overflow-y: scroll;
	display: block;
	background-color: white;
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}
main .timeline .content{
	display: block;
	margin: 0;
	padding: 20px;
}
main .timeline .content div{
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
main .timeline .year{
	margin: 0;
	width: 10vw;
}

/******************/
/****** TIME ******/
/******************/

main .timeline .time{
	
}
main .timeline .time .year{
	background-color: #e74c3c;
	height: 50px;
	border-right: 1px solid gray;
}
main .timeline .time .title{
	line-height: 50px;
	margin: 0 0 0 10px;
}

/********************/
/****** EVENTS ******/
/********************/

main .timeline .events{
	overflow: hidden;
}
main .timeline .events .year{
	flex-direction: column-reverse;
	justify-content: flex-start;
	overflow: visible;
}
main .timeline .events .year .event{
	background-color: rgba(170, 170, 170, 0.6);
	margin: 0 0 10px 0;
	border: 0px solid black;
	padding: 5px;
	border-radius: 3px;
	display: block;
}
main .timeline .events .year .space{
	
}
main .timeline .events .year .event *{
	word-wrap: break-word;
	margin: 0;
}
main .timeline .events .year .event .title{
	font-size: 16px;
	font-weight: 700;
	font-family: 'Lato'
}
main .timeline .events .year .event .date{
	font-size: 14px;
	font-weight: 300;
	font-family: 'lato'
}
main .timeline .events .year .event .description{
	font-size: 14px;
	font-weight: 400;
	font-family: 'Source Sans Pro'
}
main .timeline .events .year .event .linker{
	position: relative;
	height: 100vh;
	width: 1px;
	left: -5px;
	overflow: hidden;
	display: block;
	background-color: rgba(170, 170, 170, 0.6);
	z-index: 100;
}

/*********************/
/****** PERIODS ******/
/*********************/

main .timeline .periodes *{
	flex-direction: column;
	background-color: #ecf0f1;
}
main .timeline .periodes .year .periode{
	background-color: #e74c3c;
	margin: 10px 0 0 0;
	border: 1px solid black;
}
main .timeline .periodes .year .space{
	
}
main .timeline .periodes .year .periode *{
	word-wrap: break-word;
	margin: 0;
}

/*******************/
/****** PANEL ******/
/*******************/

main .panel{
	
}

/********************/
/****** FILTER ******/
/********************/

.filter .export{
	display: none;
	position: relative;
	background-color: rgba(0, 0, 0, 0.7);
	max-width: 1000px;
	padding: 30px;
	margin: 50vh auto 0;
  transform: translateY(-50%);
}
.filter .export #closepreview{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #d0d0d0;
	margin: 0 3px;
	padding: 0;
	line-height: 0;
	font-size: 25px;
	transition: all .3s ease-in-out;
}
.filter .export #closepreview:hover{
	cursor: pointer;
	color: white;
}
.filter .export #rendercanvas{
	max-width: 100%;
}
.filter .export #rendercanvas canvas{
	max-width: 100%;
}
.filter .export #downloadpreview, .filter .export #showpreview{
	cursor: pointer;
	text-align: center;
	margin: 0 10px;
	padding: 3px 5px;
	border-radius: 5px;
	background-color: #d0d0d0;
	border: 2px solid #d0d0d0;
	color: black;
	font-weight: 400;
	box-sizing: content-box;
	transition: all .3s ease-in-out;
	font-size: 16px;
}
.filter .export #downloadpreview:hover, .filter .export #showpreview:hover{
	border-color: white;
}
