<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="100% free graphics Composer. Create now a wonderful timeline !" />
    <meta name="keywords" content="timeline free graphs graphs graphique frise chronologique" />

    <title>Common Graphs Composer | Timeline</title>
    
    <link rel="icon" href="" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/timeline.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
    <script src= "https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script> 
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"> </script> 
    <script src="js/jscolor.js"></script>
    <script>
        jscolor.presets.default = {
            format:'rgba', alphaChannel:true, borderRadius:5, padding:5, 
            buttonColor:'rgba(255,101,213,1)', controlBorderWidth:0
        };
    </script>

</head>
<body id="body">

    <div class="filter">
        <div class="export">
            <div id="rendercanvas"></div><br>
            <center><a id="downloadpreview">Download PNG</a><a id="showpreview" target="_blank">Show Image</a></center>
            <a id="closepreview"><i class="fas fa-times"></i></a>
        </div>
        
    </div>

    <div id="app">
        <app-nav>
        </app-nav>

        <main>
            <div class="timeline" id="timeline" >
                <div class="timelinecontent" id="timelinecontent" v-bind:style="'padding-right: ' + (parseInt(settings.events.width, 10)+20) + 'px; background-color: ' + settings.global.backgroundColor + ';' + getTimelineWidthStyle(settings.global.timelineWidth) + ''">
                    <div class="events" id="events" v-bind:style="'padding-right: ' + settings.events.width + 'px; margin-right: -' + settings.events.width + 'px;'">
                        <app-year v-for="(year, index) in sortedTimeline.dateyears"
                                v-bind:key="index" v-bind:year="year" v-bind:index="index" v-bind:years="sortedTimeline.dateyears" v-bind:events="sortedTimeline.dateyearsevents[year]"
                                v-bind:yearpx="renderData.yearPx" v-bind:yeardividefactor="renderData.yearDivideFactor" v-bind:settings="settings"
                                v-bind:type="0">
                        </app-year>
                    </div>
                    <div class="time">
                        <app-year v-for="(year, index) in sortedTimeline.lineyears"
                                v-bind:key="index" v-bind:year="year" v-bind:index="index"
                                v-bind:yearpx="renderData.yearPx" v-bind:yeardividefactor="renderData.yearDivideFactor" v-bind:settings="settings"
                                v-bind:type="1">
                        </app-year>
                    </div>
                    <div class="periods">
                        <app-year v-for="(year, index) in sortedTimeline.periodyears" 
                                v-bind:key="index" v-bind:year="year" v-bind:index="index"  v-bind:years="sortedTimeline.periodyears" v-bind:events="sortedTimeline.periodyearsevents[year]"
                                v-bind:yearpx="renderData.yearPx" v-bind:yeardividefactor="renderData.yearDivideFactor" v-bind:settings="settings"
                                v-bind:type="2">
                        </app-year>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="nav">
                    <p v-bind:class="ui.currentTab == 'event' ? 'selected' : ''" v-on:click="ui.currentTab = 'event'">Event</p>
                    <p v-bind:class="ui.currentTab == 'settings' ? 'selected' : ''" v-on:click="ui.currentTab = 'settings'">Settings</p>
                </div>
                <div class="pane event-pane" v-show="ui.currentTab == 'event'">
                    <div class="global">
                        <div class="content">
                            timeline.dateevents[1820][0].title : <input v-model="timeline.dateevents[1820][0].title" type="text"/>
                        </div>
                    </div>
                    
                    
                    <button id="exporttimeline">Export</button>
                </div>

                <app-settings v-bind:settings="settings" v-bind:settingsdetails="settingsDetails" v-show="ui.currentTab == 'settings'" v-on:edit-setting="editSetting"></app-settings>

            </div>
        </main>

        <app-footer>
        </app-footer>
    </div>
</body>

<script src="js/timeline.js"></script>
</html>