<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="100% free graphics Composer. Create now a wonderful timeline !" />
    <meta name="keywords" content="timeline free graphs graphs graphique frise chronologique" />

    <title>Common Graphs Composer | Timeline</title>
    
    <link rel="icon" href="" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/timeline.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
</head>
<body>
    <div id="app">
        <app-nav>
            
        </app-nav>

        <main>
            <p style="font-size: 11px;"> {{renderData}}</p>

            <div class="timeline" id="timeline">
                <div class="events" id="events">
                    <app-year v-for="(events, year, index) in sortedTimeline.dateevents"
                            v-bind:key="year" v-bind:events="events" v-bind:year="year" v-bind:index="index" v-bind:yearpx="renderData.yearPx">
                    </app-year>
                </div>
                <div class="time">
                    <app-year v-for="(events, year, index) in sortedTimeline.dateevents"
                            v-bind:key="year" v-bind:year="year" v-bind:index="index" v-bind:showyear="true">
                    </app-year>
                </div>
                <div class="periodes">
                    <app-year v-for="(events, year, index) in sortedTimeline.periodeevents"
                            v-bind:key="year" v-bind:events="events" v-bind:year="year" v-bind:index="index" v-bind:periode="true">
                    </app-year>
                </div>
                
            </div>

            <div class="panel">
               <p style="font-size: 11px;"> {{sortedTimeline.dateevents}}</p>
            </div>
        </main>

        <app-footer>
        </app-footer>
    </div>
</body>

<script src="js/timeline.js"></script>
</html>