<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="100% free graphics Composer. Create now a wonderful timeline !" />
    <meta name="keywords" content="timeline free graphs graphs graphique frise chronologique" />

    <title>Common Graphs Composer | Timeline</title>
    
    <link rel="icon" href="" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Source+Sans+Pro:wght@400;600;700&display=swap" crossorigin="anonymous"> 
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/timeline.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
    <!-- <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"> </script>
    <script src="js/jscolor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js" crossorigin="anonymous"></script>
    <script>
        jscolor.presets.default = {
            format:'rgba', alphaChannel:true, borderRadius:5, padding:5, 
            buttonColor:'rgba(255,101,213,1)', controlBorderWidth:0
        };
    </script> 
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Source+Sans+Pro:wght@400;600;700&display=swap');
    </style> 

</head>
<body id="body">

    <!-- EXPORT OVERFLOW -->
    
    <!-- FLOATERS -->
    <div class="floater disapear" id="disapear-floater">
        <i class="fas fa-check check"></i>
    </div>
    <div class="floater" id="floater">
        <i class="fas fa-spinner loader"></i>
    </div>

    <input id="file-input" type="file" name="name" accept="application/json" multiple="true" style="display: none;" />

    <div id="app">

        <div class="filter" :style="ui.downloadImageMenu ? '' : 'display: none;'" @click="ui.downloadImageMenu = false;">
            <div class="export" :style="ui.downloadImageMenu ? '' : 'display: none;'" @click.stop="">
                <div id="rendercanvas"><img id="previewrendercanvas"></img></div><br>
                <center>
                    <a @click="downloadImagePng();" id="downloadpreview">Download PNG</a>
                    <a @click="downloadImageShowPng();" id="showpreview" target="_blank">Show Image</a>
                </center>
                <a @click="ui.downloadImageMenu = false;" class="closepreview"><i class="fas fa-times"></i></a>
            </div>
        </div>

        <div id="js-overlay" class="overlay" v-if="ui.timelinesMenu" @click="ui.timelinesMenu = false;">
            <!-- TIMELINES DROP MENU -->
            <div id="js-contextmenu" class="contextmenu" v-bind:style="'left: ' + ui.dropMenuX + 'px;'">
                <p v-for="name in ui.timelines" @click="loadTimeline(name)">
                    <i class="fas fa-trash-alt" @click.stop="deleteTimeline(name)"></i> {{name}}
                </p>
                <h4 v-if="ui.timelines.length == 0">
                    You have no timeline
                </h4>
            </div>
        </div>
        <div id="js-overlay" class="overlay" v-if="ui.downloadMenu" @click="ui.downloadMenu = false;">

            <div id="js-contextmenu" class="contextmenu" v-bind:style="'left: ' + ui.dropMenuX + 'px;'">
                <p @click="downloadImage()">
                    Download image (PNG)
                </p>
                <p @click="downloadJSON()">
                    Download timeline data (JSON)
                </p>
            </div>
        </div>
        
        <header>
            <div><img src="img/icon.png"></img><h2>Common Graphs Composer [BETA]</h2></div>
            <!-- HEADER PROJECT ACTIONS -->
            <div class="project-actions">
                <input type="text" v-model="timelineName" id="timeline-name" placeholder="Timeline Name">
                <i class="fas fa-expand-arrows-alt" title="Hide edit tools (full screen)" @click="sortTimeline(); ui.fullScreen = true;"></i>
                <i class="fas fa-expand" title="Enter into the browser fullscreen mode" @click="fireFullScreen()"
                    :style="this.browserFullScreen ? '{color: #ff4545;}:hover{color: white;}' : ''"></i>
                <i class="fas fa-upload" title="Download this timeline image or the timeline data file" @click="clickToShowDownloadMenu"></i>
                <i class="fas fa-download" title="Import a timeline from his data file (JSON)" @click="importTimeline()"></i>
                <i class="fas fa-trash-alt" title="Delete current timeline" @click="deleteTimeline()"></i>
                <i class="far fa-plus-square" title="Create new timeline" @click="createTimeline()"></i>
                <i class="far fa-clone" title="Make a copy of the curent timeline" @click="cloneTimeline()"></i>
                <i class="far fa-folder-open" title="Show saved timelines" @click="clickToShowTimelinesMenu"></i>
            </div>
            <nav><ul><li><a href="index.html">Home</a></li><li><a href="timeline.html">Timeline</a></li></ul></nav>
        </header>

        <main>
            <div v-bind:class="'timeline ' + (ui.fullScreen ? 'fullscreen' : '')" id="timeline" >
                <!-- FULL SCREEN BAR -->
                <div class="fullscreen-bar" v-bind:style="'display:' + (ui.fullScreen ? 'flex' : 'none') + ';'">
                    <div>
                        <i class="fas fa-arrow-left" title="Show edit tools (exit fullscreen)" @click="ui.fullScreen = false;"></i>
                        <h3>{{ui.timelineName}}</h3>
                    </div>
                    <div>
                        <i class="fas fa-expand-arrows-alt" title="Enter into the browser fullscreen mode" @click="fireFullScreen()"
                            :style="this.browserFullScreen ? '{color: #ff4545;} :hover{color: white;}' : ''"></i>
                        <i class="fas fa-download" title="Download this timeline image or the timeline data file" id="export-timeline"></i>
                    </div>
                </div>
                <div class="timelinecontent" id="timelinecontent" v-bind:style="'padding-right: ' + (parseInt(settings.events.width, 10) > parseInt(settings.periods.minWidth, 10) ? parseInt(settings.events.width, 10)+20 : parseInt(settings.periods.minWidth, 10)+20) + 'px; background-color: ' + settings.global.backgroundColor + ';' + getTimelineWidthStyle(settings.global.timelineWidth) + ''">
                    <div class="events" id="events" v-bind:style="'padding-right: ' + settings.events.width + 'px; margin-right: -' + settings.events.width + 'px;'">
                        <app-year v-for="(year, index) in sortedTimeline.dateyears"
                                v-bind:key="year" v-bind:year="year" v-bind:index="index" v-bind:years="sortedTimeline.dateyears" v-bind:events="sortedTimeline.dateyearsevents[year]"
                                v-bind:yearpx="renderData.yearPx" v-bind:yeardividefactor="renderData.yearDivideFactor" v-bind:settings="settings"
                                v-bind:type="0" v-bind:ui="ui" v-on:select-event="selectEvent">
                        </app-year>
                    </div>
                    <div class="time">
                        <app-year v-for="(year, index) in sortedTimeline.lineyears"
                                v-bind:key="year" v-bind:year="year" v-bind:index="index"
                                v-bind:yearpx="renderData.yearPx" v-bind:yeardividefactor="renderData.yearDivideFactor" v-bind:settings="settings"
                                v-bind:type="1">
                        </app-year>
                    </div>
                    <div class="periods" v-bind:style="'padding-right: ' + settings.periods.minWidth + 'px; margin-right: -' + settings.periods.minWidth + 'px;'">
                        <app-year v-for="(year, index) in sortedTimeline.periodyears" 
                                v-bind:key="year" v-bind:year="year" v-bind:index="index"  v-bind:years="sortedTimeline.periodyears" v-bind:events="sortedTimeline.periodyearsevents[year]"
                                v-bind:yearpx="renderData.yearPx" v-bind:yeardividefactor="renderData.yearDivideFactor" v-bind:settings="settings"
                                v-bind:type="2" v-bind:ui="ui" v-on:select-period="selectPeriod">
                        </app-year>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="nav">
                    <p v-bind:class="ui.currentTab == 'event' ? 'selected' : ''" v-on:click="ui.currentTab = 'event'">Event</p>
                    <p v-bind:class="ui.currentTab == 'settings' ? 'selected' : ''" v-on:click="ui.currentTab = 'settings'">Settings</p>
                </div>
                <div class="pane event-pane" v-show="ui.currentTab == 'event'">
                    <!-- NO SELECTED OVERFLOW -->
                    <div class="pane-filter" v-if="!(ui.selectedType != undefined && ui.selectedYear != undefined && ui.selectedIndex != undefined)">
                        <div><h3>
                            Select an event to edit it<br>
                            <i class="far fa-plus-square" v-on:click="createEvent"><span> Create one</span></i>
                        </h3></div>
                    </div>
                    <!-- PANES -->
                    <div class="title">
                        <div class="content">
                            <table>
                                <tr>
                                    <td>Title</td>
                                    <td>
                                        <input v-if="ui.selectedIndex != undefined" v-model="selectedEventTitle" type="text" placeholder="Event Title" id="event-title-input" style="width: 310px;" maxlength="100"/>
                                        <input v-else style="width: 310px;" placeholder="Event Title">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Date</td>
                                    <td text-align="right">
                                        <input v-if="ui.selectedIndex != undefined" v-model="selectedEventDate" type="text" placeholder="Write the date in any format" maxlength="100" id="event-date-input"/>
                                        <input v-else placeholder="Write the date in any format">
                                    </td>
                                    <td v-if="ui.selectedIndex != undefined" class="date-summary">
                                        <template v-if="ui.selectedType === 0">
                                            {{timeline.dateevents[ui.selectedYear][ui.selectedIndex].month}}/{{timeline.dateevents[ui.selectedYear][ui.selectedIndex].day}}/{{ui.selectedYear}}
                                        </template>
                                        <template v-else>
                                            {{timeline.periodevents[ui.selectedYear][ui.selectedIndex].month}}/{{timeline.periodevents[ui.selectedYear][ui.selectedIndex].day}}/{{ui.selectedYear}}
                                        </template>
                                    </td>
                                    <td v-else class="date-summary">--/--/----</td>
                                </tr>
                                <tr>
                                    <td>EndDate</td>
                                    <td>
                                        <input v-if="ui.selectedIndex != undefined"  v-model="selectedEventEndDate" type="text" placeholder="This turned it into a period"  maxlength="100"/>
                                        <input v-else placeholder="This turned it into a period">
                                    </td>
                                    <td v-if="ui.selectedType == 1 && ui.selectedIndex != undefined" class="date-summary">
                                        {{timeline.periodevents[ui.selectedYear][ui.selectedIndex].endday}}/{{timeline.periodevents[ui.selectedYear][ui.selectedIndex].endmonth}}/{{ui.selectedYear+timeline.periodevents[ui.selectedYear][ui.selectedIndex].yearsLength}}
                                    </td>
                                    <td v-else class="date-summary">--/--/----</td>
                                </tr>
                                <tr class="action-buttons">
                                    <td></td>
                                    <td style="float: center;">
                                        <i class="far fa-plus-square" title="Create a new event (same date of this one)" v-on:click="createEvent"></i>
                                        <i class="far fa-calendar-plus" title="Create a new period (same date of this one)" v-on:click="createPeriod"></i>
                                        <i class="far fa-clone" title="Clone this event" v-on:click="duplicateSelectedEvent"></i>
                                        <i class="fas fa-trash-alt" title="Delete this event" v-on:click="deleteSelectedEvent"></i>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="debug">
                        <div class="content">
                            <table>
                                <tr>
                                    <td>Description</td>
                                </tr>
                                <tr>
                                    <td>
                                        <textarea v-if="ui.selectedIndex != undefined" v-model="selectedEventDescription" type="text" placeholder="Description of the event (optional)" maxlength="500" id="event-description-field" placeholder="Description of the event (optional)"></textarea>
                                        <textarea v-else placeholder="Description of the event (optional)"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <app-settings v-bind:settings="settings" v-bind:settingsdetails="settingsDetails" v-show="ui.currentTab == 'settings'" 
                    v-on:edit-setting="editSetting"
                    v-on:reset-section="resetSection"
                    v-on:load-default-section="loadDefaultSection"
                    v-on:set-default-section="setDefaultSection"></app-settings>

            </div>
        </main>

        <footer><h5>Copyright &copy Common Graphs Composer 2020</h5><h5>Developed by <a href="https://github.com/ClementGre" target="_blank">Clément Grennerat</a></h5></footer>
    </div>
</body>
<script src="js/timeline/constants.js"></script>
<script src="js/timeline/utils.js"></script>
<script src="js/timeline/uiComponents.js"></script>
<script src="js/timeline/timelineComponents.js"></script>
<script src="js/timeline/timeline.js"></script>
</html>